#text-header {
    margin: 100px auto 170px auto;
}

.navbar-inverse {
    background: none;
    border: none;
    padding: 5px 10px;
    transition: all 0.4s;
}

.navbar-right li a {
    border: 3px solid transparent;
    padding: 8px 15px;
    margin-right: 8px;
    border-radius: 40px;
    transition: all 0.28s;
    font-size: 13.333px;
    letter-spacing: 2px;
    text-transform: uppercase;
    outline: none;
    text-align: center;
    color: #fefefe !important;
}

.navbar-right:hover li a {
    color: #666666 !important;
}

.navbar-right li a:hover {
    border: 3px solid white;
    color: white !important;
}

.navbar-inverse .navbar-collape.in {
    opacity: 1;
}

.info-block {
    background: #eefeef;
    color: #666666;
    margin-bottom: 20px;
}

.info-block h1, h2{
    background: #eefeef;
    color: #222222;
}

.info-block h3 {
    text-align: center;
}

.info-block h2 {
    font-size: 4em;
    margin: 0;
    padding-top: 10px;
    line-height: 1;
    text-align: center;
}

.container .row .info-card a:hover{
    text-decoration: none;
}

body {
    background: #222;
    font-family: 'Montserrat';
    padding-top: 70px;
}

h1, h4, h6 {
    color: #fefefe;
    text-align: center;
    margin: 0;
    text-transform: uppercase;
    line-height: 1;
}

hr {
	height: 6px;
	background: url(http://ibrahimjabbari.com/english/images/hr-11.png) repeat-x 0 0;
    border: 0;
    margin: 20px 20%;
}

a hr {
    height: 6px;
	background: url(http://ibrahimjabbari.com/english/images/hr-11.png) repeat-x 0 0;
    border: 0;
    margin: 10px 10%;
}


h1 {
    font-size: 8em;
}

h4 {
    font-size: 3em;
}

h6 {
    font-size: 2em;
}